.nav-link-header-navigation {
  z-index: 1;
}

.is-phone {
  /* Navigation header styles for Markdown panes on phones */
  .workspace-leaf-content
    .nav-link-header-navigation:has(
      + .view-content :is(.markdown-source-view, .markdown-reading-view)
    ) {
    position: absolute;
    width: 100%;
    top: 0;
    transform: translateY(calc(var(--safe-area-inset-top) + var(--view-header-height)));
    transition: transform 0.3s ease-in-out;
  }

  &.is-hidden-nav
    .workspace-leaf-content
    .nav-link-header-navigation:has(
      + .view-content :is(.markdown-source-view, .markdown-reading-view)
    ) {
    transform: translateY(-100%);
  }

  /* Adjust the top padding of the Markdown content to account for the navigation header */
  .mod-root
    .workspace-leaf-content
    .nav-link-header-navigation
    + .view-content
    :is(.markdown-source-view, .markdown-reading-view)
    :is(.cm-scroller, .markdown-preview-view) {
    padding-top: calc(
      var(--view-top-spacing-markdown) + var(--nav-link-header-markdown-additional-offset, 0)
    );
  }

  /* Navigation header styles for non-Markdown panes on phones */
  .workspace-leaf-content
    .nav-link-header-navigation:not(
      :has(+ .view-content :is(.markdown-source-view, .markdown-reading-view))
    ) {
    margin-top: calc(var(--safe-area-inset-top) + var(--view-header-height));

    + .view-content {
      margin-top: 0;
    }
  }
}

/* Styles for the parent element of the navigation header in the hover popover */
.popover.hover-popover > .markdown-embed:has(> .nav-link-header-navigation) {
  display: flex;
  flex-direction: column;

  > .markdown-embed-content {
    flex: 1;
    overflow: auto;
  }
}

.popover.hover-popover > .media-embed:has(> .nav-link-header-navigation) {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  > img {
    flex: 1;
    overflow: auto;
  }

  > video {
    flex: 1;
    overflow: auto;
  }

  > audio {
    overflow: auto;
  }
}

.popover.hover-popover > .pdf-embed:has(> .nav-link-header-navigation) {
  display: flex;
  flex-direction: column;

  > .pdf-container {
    flex: 1;
    overflow: auto;
  }
}

.popover.hover-popover > .canvas-embed:has(> .nav-link-header-navigation) {
  display: flex;
  flex-direction: column;

  > .canvas-minimap {
    flex: 1;
    overflow: auto;
  }
}

.popover.hover-popover > .bases-embed:has(> .nav-link-header-navigation) {
  display: flex;
  flex-direction: column;

  > .bases-view {
    flex: 1;
    overflow: auto;
  }
}

/* Styles for other view types */
.popover.hover-popover
  > :not(.markdown-embed, .media-embed, .pdf-embed, .canvas-embed, .bases-embed):has(
    > .nav-link-header-navigation
  ) {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  > :last-child {
    flex: 1;
    overflow: auto;
  }
}

/* Adjust the position of the "Open link" button in the hover popover. */
@supports (anchor-name: --a) {
  .popover.hover-popover .nav-link-header-navigation {
    anchor-name: --nav-link-header-anchor;

    ~ .markdown-embed-link {
      position-anchor: --nav-link-header-anchor;
      top: anchor(bottom);
    }
  }
}

/* If the web view does not support the anchor-name property, fall back to margin adjustments. */
@supports not (anchor-name: --a) {
  .popover.hover-popover .nav-link-header-navigation {
    margin-right: 30px;
  }
}
