.nav-link-header-navigation {
	z-index: 1;
}

/* Styles for the hover popover container element */
.popover.hover-popover .nav-link-header-navigation {
	position: sticky;
	top: 0;
	z-index: 100;

	~ .markdown-embed-content {
		height: auto;
	}
}
